@use "./variables.scss" as *;

// put your custom CSS here!

div.explorer { display: none; }
h1.article-title { display: none; }
p.content-meta { display: none; }
div.markdown-rendered {
  font-family: "Noto Sans Mono CJK JP", "Noto Sans Mono", monospace;
}
